
<div class="dashboardContainer">
    <h1>Statistics: </h1>
    <div class="container">
        <h2>Summary: </h2>
        <div class="items">
            <div class="items">
                <div class="statCard">Average playlist popularity: {{ avg }}</div>
                <div class="statCard">Average playlist popularity: {{ avg }}</div>
        </div>
    </div> 
    </div>
    <div class="container">
        <h2>Artist count: </h2>
        <iframe style="border-radius:12px" 
        src="/dashapp/{{ playlist_id }}/" 
        width="40%" height="400" scrolling="no" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
        loading="lazy">
        </iframe>
    </div>
    <div class="container">
        <h2>Tracklist: </h2>
        <iframe style="border-radius:12px" 
        src="https://open.spotify.com/embed/playlist/{{ playlist_id }}?utm_source=generator" 
        width="50%" height="400" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
        loading="lazy">
        </iframe>
    </div>   
</div>