{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <h1>Your playlists:</h1>
        <div class="contentShelf">
            {% for i in playlists %}
                <div class="playlistCard"
                style="background-image: 
                            linear-gradient(0deg, #00000088 30%, #ffffff44 100%), 
                            url('{{ i.image }}');">
                    <h1 id="playlist_label">{{i.name}}</h1>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}